body{
    margin: 0;
    background-image: url(/static/midias/native/fundoFull.png);
}
.container{ 
    padding: 0 300 0 300;
}
.container img{
    height: 200;
    text-align: center;
}
form h2, h4{
    text-align: center;
}
form h4{
    font-weight: 400;
}
form{
    padding: 0 20 10 20;
    border-radius: 15px;
    background-color: rgb(250, 179, 179);
}
.top{
    text-align: center;
}